.truncate-cell {
   white-space: nowrap; 
   overflow: hidden;
   text-overflow: ellipsis; 
   max-width: 150px; 
 }

 .cell-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.leftAlign .cell-content {
  justify-content: flex-start; 
}