body {
  background-color: #929292; /* Light gray background color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: Arial, sans-serif; /* Optional: Set font-family */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.page-container {
  width: 100%; /* Extend from end to end of screen */
  /* border: 2px solid red; Add red border for visualization */
  padding: 0; /* Remove padding to eliminate extra space inside container */
  margin: 0; /* Remove margin to eliminate extra space inside container */
}